<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awkris.watchamovie">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".WatchAMovie"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Platform.MaterialComponents"
        android:usesCleartextTraffic="true"
        >
        <uses-library
            android:name="android.test.runner"
            android:required="false"
            />
        <uses-library
            android:name="android.test.base"
            android:required="false"
            />
        <uses-library
            android:name="android.test.mock"
            android:required="false"
            />
        <activity
            android:name=".presentation.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.awkris.watchamovie.utils.receiver.AlarmReceiver" />
        <receiver android:name="com.awkris.watchamovie.utils.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".utils.service.MovieFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
